.*.swp
pulse
inkscape
ImageMagick
enchant
minecraft
khal
0ad
google-musicmanager
gpick
msmtp
fish/fish_history
libreoffice
tor

gtk*
dconf
gconf

beets/library.db
beets/state.pickle

ncmpcpp/state
ncmpcpp/mpd.log
ncmpcpp/pid
ncmpcpp/database.db

dwb/default/commands.history
dwb/default/history
dwb/default/navigate.history
dwb/default/cookies
dwb/default/bookmarks
dwb/default/search.history
dwb/default/session
dwb/settings.*
dwb/default/scripts.allow

ranger/history
ranger/commands.py
ranger/bookmarks
ranger/scope.sh
ranger/tagged
ranger/__pycache__

