[submodule "oh-my-zsh-custom/zsh-autosuggestions"]
	path = oh-my-zsh-custom/zsh-autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions
[submodule "oh-my-zsh-custom/opp.zsh"]
	path = oh-my-zsh-custom/opp.zsh
	url = https://github.com/hchbaw/opp.zsh
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/molokai"]
	path = vim/molokai
	url = https://github.com/kokakolako/molokai
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
