.*.swp
Trolltech.conf
menus
inkscape
ImageMagick
minecraft
google-musicmanager
libreoffice
fdm
chromium
ncmpcpp/error.log
vlc
ssh
calibre

irssi/config
irssi/cert

gtk*
dconf
gconf

beets/library.db
beets/state.pickle

mpd/log
mpd/database
mpd/pid
mpd/socket
mpd/state

dwb/settings.*
dwb/keys.*
dwb/default/commands.history*
dwb/default/navigate.history*
dwb/default/history*
dwb/default/cookies
dwb/default/bookmarks
dwb/default/search.history*
dwb/default/session
dwb/default/scripts.allow

ranger/history
ranger/commands.py
ranger/bookmarks
ranger/scope.sh
ranger/tagged
ranger/__pycache__

mutt/cache
mutt/hcache
mutt/mailcap
mutt/temp
mutt/contacts.list
mutt/passwords.gpg

jumanji/contacts
jumanji/cookies
jumanji/history

emacs/history
emacs/elpa
emacs/cache
emacs/authinfo.gpg
emacs/auto-save-list/
emacs/history
emacs/eshell
emacs/org-clock-save.el
emacs/?ido.last?
emacs/ido.last
emacs/?init.el?
emacs

fish/fish_history
fish/fishd*
fish/generated_completions

# vim: set ft=config:
