[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "vim/zsh-autosuggestions"]
	path = vim/zsh-autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions
