.*.swp

inkscape
gtk*
epiphany
chromium
ibus
libreoffice
dconf
Trolltech.conf
gconf
enchant
minecraft
cmus
khal
0ad
FEZ
MonoGame
google-musicmanager
gpick
unity3d
vlc
pulse
pavucontrol.ini
glade.conf
msmtp
beets/library.db
fish/fish_history
sublime-text-3
fish/oh-my-fish

beets/library.db
beets/state.pickle

vim/undo
vim/src
vim/bundle/neocomplete/tags

ncmpcpp/state
ncmpcpp/mpd.log
ncmpcpp/pid
ncmpcpp/database.db

dwb/default/commands.history
dwb/default/history
dwb/default/navigate.history
dwb/default/cookies
dwb/default/bookmarks
dwb/default/search.history

