[Desktop Entry]
Name=Ncmpcpp
Comment=Featureful ncurses based MPD client inspired by ncmpc
Exec=ncmpcpp --config $HOME/.config/ncmpcpp/config
Terminal=true
