body {
    font: 18px "DejaVu Sans Mono";
    background: url(bg/lodyas.png);
}

a {
    color: #ff0055;
    text-decoration: none;
}

a:hover {
    color: #303030;
}

nav {
    margin: 10px auto;
    width: 360px;
}

ul {
    float: left;
    margin: 10px; padding: 20px;
    width: 120px; min-height: 120px;
    background: #ffffff;
    list-style: none;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    color: #ff0055;
    margin: 10px 0;
    text-align: center;
}

.license {
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    right: 30px;
}
.license a {
    color: #fff;
}

.license a:hover {
    color: #ff0055;
}
